{% extends "layout.html" %}

{% block gallerylist %}

    <ul>
    {% for gal, galdata in galleries.iteritems() %}
        <li>{{ galdata.title }} </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block body %}
  <ul class=galleries>

{#{% for key, value in galleries.iteritems() %}
    <li>{{ key }}</li> 
    {% for v in value %}
     <b>{{ v }}</b>
    {% endfor %}
{% endfor %}
#}

{% for gal, galdata in galleries.iteritems() %}
    <li><h2>Title: {{ galdata.title }}</h2>
        <h2>Description: {{ galdata.description|safe }}</h2>
    {% for img, imgdata in galdata.images.iteritems() %}
        Image Title: {{ imgdata.title }}<br/>
        Image Description:
            {% for l in imgdata.description %}
              {{ l }}<br/>
            {% endfor %}
        <img width="100" src="{{ imgdata.path }}"/><br/>
    {% endfor %}
  {% else %}
    <li><em>Unbelievable.  No galleries!</em>
  {% endfor %}
  </ul>

{% endblock %}
