{% extends "layout.html" %}

{% block gallerylist %}

    <ul>
    {# {% for gal, galdata in galleries.iteritems() %} #}
    {% for gal in galleries %}
        <li>{{ gal.title }} </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block body %}
  <ul class=galleries>

{#<h2>{{ galleries[gallery_id|int - 1].title }}</h2>#}
{#{% for gal in galleries %}#}
    <li><h2>Title: {{ gal.title }}</h2>
        <h2>Description: {{ gal.description|safe }}</h2>
    {% for img, imgdata in gal.images.iteritems() %}
        Image Title: {{ imgdata.title }}<br/>
        Image Description:
            {% for l in imgdata.description %}
              {{ l }}<br/>
            {% endfor %}
        <img width="100" src="{{ imgdata.path }}"/><br/>
    {% endfor %}
{# {% endfor %}#}
  </ul>

{% endblock %}
